mat-drawer-container {
  display: block;
  height: 100%;
  }

mat-list-item:hover{
    cursor: pointer;
}

.whiteText{
  color: white;
}

mat-drawer{
  background-color: #7EBC0A;
}

.toolbarcddit {
    margin-bottom: 0.1em;
    background-color: #7EBC0A;
}